.btn {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  font-weight: 600;

  &:link,
  &:visited {
    border-radius: 0.9rem;
  }

  &-full:link,
  &-full:visited {
    background-color: $color-primary;
    color: #fff;
    transition: background-color 0.3s;
  }

  &-full:hover,
  &-full:active {
    background-color: $color-primary-dark;
  }

  &-outline:link,
  &-outline:visited {
    background-color: #fff;
    color: $color-body;
  }

  &-outline:hover,
  &-outline:active {
    background-color: $color-secondary;
    color: $color-body;
    box-shadow: 0 0 0 3px #fff;
  }
}
